extends ../layout/main.jade

block content
    .users
        each user in users
            .user
                dl
                    dt Username
                    dd=user.username
                    dt Permissions
                    dd=user.permissions
                    dt Preferences
                    dd=user.preferences
            