- var fields = result.fields;
- var rows = result.rows;
table.result-rows.pure-table.pure-table-horizontal.mono
    thead
        each field in fields
            th #{field.name}
    tbody
        each row in rows
            tr
                for value, key in row
                    - var typeofValue = typeof value;
                    - var primitive = typeofValue === 'string' || typeofValue === 'number' || typeofValue == 'boolean'
                    - var valueString = primitive ? value : util.inspect(value, { depth: 100 });
                    td(tabindex=1)=valueString
