.result-area .result-rows,
.console-input {
    width: 100%;
    resize: none;
    font-size: 11pt; /* TODO: Make this configurable */
}

.console-input {
	position: absolute;
	top: 32px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.param {
	width: 100%;
	margin-bottom: 0.5em;
}

.results {
    margin-top: 0.5em;
}
