.result-area .result-rows,
.console-input {
    width: 100%;
    resize: none;
    font-size: 12pt; /* TODO: Make this configurable */
}

.CodeMirror,
.console-input {
	position: absolute;
	top: 32px;
	right: 0;
	bottom: 0;
	left: 0;
	height: initial;
	font-family: "Ubuntu Mono", monospace;
	font-size: 12pt;
}

.CodeMirror {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
}

.params {
	margin: 0;
	padding-left: 20px;
}

.param {
	width: 100%;
	margin-bottom: 0.5em;
}

.results {
	position: relative;
	transition: opacity ease 0.1s; /* Fade in quickly */
}

.results.fade {
	transition: opacity ease 1s; /* Fade out slowly */
	opacity: 0.1;
}

.results .result-rows td {
	cursor: pointer;
}

.results .result-rows td:focus {
	background-color: rgba(255, 200, 100, 1);
	/*color: white;*/
	outline: none;
}