.result-area .result-rows,
.console-input {
    width: 100%;
    resize: none;
    font-size: 12pt; /* TODO: Make this configurable */
}

.CodeMirror,
.console-input {
	position: absolute;
	top: 32px;
	right: 0;
	bottom: 0;
	left: 0;
	height: initial;
	font-family: "Ubuntu Mono", monospace;
	font-size: 12pt;
}

.CodeMirror {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
}

.param {
	width: 100%;
	margin-bottom: 0.5em;
}

.results {
    margin-top: 0.5em;
}
