.relations {
	overflow: hidden;
	/*transition: padding-left 0.2s ease;*/
}

.relations.collapsed {
	height: 0;
	padding: 0;
	margin: 0;
}

.list {
	margin-left: 12px;
	padding-left: 12px;
	border-left: 1px solid #aaa;
}

.list-item {
	padding: 0.5em;
	cursor: pointer;
}

.list-item:hover {
	background-color: #eef;
}
