extend ../layout/modal

block inner
    #register.panel
        .panel-heading
            | SQL Injector
        .panel-body
            if error    
                pre=error
            form.pure-form.pure-form-aligned(method="post", action="/register")
                fieldset
                    legend Register
                .pure-control-group
                    label(for="username") Username
                    input#username(type="text", name="username", value=username, required, autofocus)
                .pure-control-group
                    label(for="password") Password
                    input#password(type="password", name="password", required)
                .pure-controls 
                    input#login-button.pure-button.pure-button-primary(type="submit", value="Register")