extends ../layout/modal

block inner
   .panel
      .panel-heading
         strong Error
      .panel-body
         if error instanceof Error
            pre=error.message
         else
            pre=error