extend ../layout/main

block append style
    link(rel="stylesheet", href="/css/schema.css")

block append js
    script.
        App.connectionId = #{connection.connectionId};
    script(src="/js/schema.js")

block content
    .wrapper.console.flex-row
        .flex-1.pad.scroll
            include ./partial/tree
        .flex-2.pad.scroll
            .relation-information
                //-include ./partial/relation
