extend ../layout/main

block append style
    link(rel="stylesheet", href="/css/schema.css")

block append js
    script.
        App.connectionId = #{connection.connectionId};
        App.consoleSessionKey = "#{consoleSessionKey}";
    script(src="/js/schema.js")

block content
    .pure-g
        .pure-u-1-2
            include ./partial/tree
        .pure-u-1-2
            .relation-information
            //include ./partial/relation