extend ../layout/main

block append style
    link(rel="stylesheet", href="/css/schema.css")

block append js
    script.
        App.connectionId = #{connection.connectionId};
    script(src="/js/schema.js")

block content
    .pad
        .pure-g
            .pure-u-1-2
                include ./partial/tree
            .pure-u-1-2
                .relation-information
                    //include ./partial/relation
