doctype html
html
    head
        title SQL Injector

        block style
            link(rel="stylesheet", href="/vendor/pure/pure-min.css")
            link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css")
            link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu")
            link(rel="stylesheet", href="/css/common.css")
        block js
            script(src="/vendor/fetch/fetch.js")
            script.
                var App = {};
    body
        #nav
            .home-menu.pure-menu.pure-menu-horizontal
                a.pure-menu-heading(href="/") SQL Injector
                if pageTitle
                    ul.pure-menu-list
                        li.pure-menu-item: a.pure-menu-link(href="#")=pageTitle
        block content
                
        
