doctype html
html
    head
        title SQL Injector

        block style
            link(rel="stylesheet", href="/vendor/pure/pure-min.css")
            link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu")
            link(rel="stylesheet", href="/css/common.css")
        block js
            script.
                var App = {};
    body
        #layout.content.pure-g
            #nav.pure-u-1
                .pure-menu.pure-menu-open.pure-menu-horizontal
                    a.pure-menu-heading SQL Injector

                    ul
                        li: a(href="/console") Console
                        li: a(href="/schema") Schema
                        li: a(href="/settings") Settings
            #main.pure-u-1
                .l-box
                    block content
