doctype html
html
    head
        title SQL Injector

        block style
            link(rel="stylesheet", href="/vendor/pure/pure-min.css?v=" + appVersion)
            link(rel="stylesheet", href="/vendor/fontawesome/css/font-awesome.min.css?v=" + appVersion)
            link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Ubuntu:400,700|Ubuntu+Mono:400,700")
            link(rel="stylesheet", href="/css/common.css?v=" + appVersion)
        block js
            script(src="/vendor/fetch/fetch.js?v=" + appVersion)
            script.
                var App = {};
    body
        block nav
            #nav
                .home-menu.pure-menu.pure-menu-horizontal
                    a.pure-menu-heading(href="/") SQL Injector
                    if connection
                        ul.pure-menu-list
                            li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
                                a.pure-menu-link=connection.title
                                ul.pure-menu-children
                                    li.pure-menu-item
                                        a.pure-menu-link(href="/console/" + connection.connectionId + "/" + connection.urlTitle) console
                                    li.pure-menu-item
                                        a.pure-menu-link(href="/schema/" + connection.connectionId + "/" + connection.urlTitle) schema
        block content
                
        
