extend ../layout/main

block append style
    link(rel="stylesheet", href="/module/codemirror/lib/codemirror.css?v=" + appVersion)
    link(rel="stylesheet", href="/css/console.css?v=" + appVersion)

block append js
    script.
        App.connectionId = "#{connection.connectionId}";
    script(src="/js/console.js?v=" + appVersion)

block content
    .wrapper.console.flex-column
        .statement-area.pure-form.flex-6.flex-column.pad
            .console-input-outer.flex.flex-1
                .flex-5.relative.margin-right
                    fieldset
                        legend Statement
                        textarea.mono.console-input(name="query", placeholder="Statement", spellcheck="false", required, autofocus)=query
                .flex-1        
                    fieldset
                        legend Parameters
                        input.param.mono(type="text", placeholder="Parameter 1", name="param")
                        input.param.mono(type="text", placeholder="Parameter 2", name="param")
                        input.param.mono(type="text", placeholder="Parameter 3", name="param")
            .execute      
                fieldset
                    input.pure-button.pure-button-primary.execute-statement-button(type="submit", value="Execute", title="Execute (ctrl+enter)", tabindex=-1)
        .result-area.flex-4.pad.scroll(style="flex-basis:400px")
            .result-stats
                span.timer 0ms
                |  &bull;  
                span.result-count 0 results
            .results
