extend ../layout/main

block append style
    link(rel="stylesheet", href="/css/console.css")

block append js
    script.
        App.connectionId = #{connection.connectionId};
        App.consoleSessionKey = "#{consoleSessionKey}";
    script(src="/js/console.js")

block content
    .console
        .statement-area
            .pure-form.pure-form-stacked.statement-form.pure-g
                fieldset.pure-u-4-5
                    legend Statement
                    textarea.mono.console-input(name="query", rows=25, cols=80, placeholder="Statement", spellcheck="false", required, autofocus)=query
                fieldset.pure-u-1-5
                    legend Parameters
                    input.param.mono(type="text", placeholder="Parameter 1", name="param")
                    input.param.mono(type="text", placeholder="Parameter 2", name="param")
                    input.param.mono(type="text", placeholder="Parameter 3", name="param")
                fieldset.pure-u-1
                    input.pure-button.pure-button-primary.execute-statement-button(type="submit", value="Execute", title="Execute (ctrl+enter)", tabindex=-1)
        .result-stats
            span.timer 0ms
            |  &bull;  
            span.result-count 0 results
        .result-area
            if error
                div.error
                    pre=error
            if result
                include ./partial/resultsTable
